[submodule "portable/vim-pathogen"]
	path = portable/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
